@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

$text-primary: "Orbitron", sans-serif;

$color-background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
$color-card: #f6d7b0;
$color-black: #000000;
$color-white: #fff;
$color-grey: #313131;
$color-orange: #f69906;
$color-lightgrey: #9f9f9f;

$desktop-breakpoint: 1024px;
